<div class="container-fluid animated">
  <app-nav></app-nav>

  <div class="jumbotron-fluid">
    <div class="container animated fadeInLeftBig">
      <h1 class="text-center text-white mb-5"> PAMM Account </h1>
      <ul class="list-unstyled">
        <li>
          <h5 class="text-center text-white m-3"> The PAMM account features a management module that distributes the sizes of trades according to
            an allocation percentage. This solution is offered by many forex brokers for investors and fund managers. With a PAMM account,
            an investor can also allocate a percentage of his account to one or more managers.</h5>
          <h5 class="text-center text-white m-3"> The manager's PAMM account is a large "main account", whose capital is equal to the sum of
            the sub-accounts.</h5>
        </li>
      </ul>

      <div class="row">
        <div class="col-sm-12 align-items-center justify-content-center d-inline-flex">
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/standard">Standard account</button>
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/cent">Cent account</button>
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/PAMM">PAMM account</button>
        </div>
        <div class="col-sm-12 align-items-center justify-content-center d-inline-flex">
          <button type="button" class="btn btn-primary shadow-lg m-4 btn-lg">Open account</button>
          <button type="button" class="btn btn-primary shadow-lg m-4 btn-lg">Open demo</button>
        </div>
      </div>
    </div>

  </div>
</div>

