<div class="container-fluid">
  <app-nav></app-nav>

  <div class="row animated fadeInLeftBig flex-row justify-content-center">
    <div class="col-sm-12">
      <h1 class="text-white text-center mb-5">About us</h1>
      <h5 class="text-center text-white m-3">We pay special attention to IT and financial security.</h5>
      <h5 class="text-center text-white m-3">The company provides brokerage services, as well as training services in Forex trading.</h5>
      <h5 class="text-center text-white m-3">We support and develop software that can ensure the maximum speed and accuracy of our work.</h5>
    </div>

      <div class="col-sm-12">
      <h1 class="text-white text-center mt-5">Advantages of working with us:</h1>
    </div>
      <div class="col-sm-4 align-items-center d-inline-flex">
        <img class="img-fluid m-3" src="shield.png" style="width: 7rem" alt="">
        <p class="text-white">Customer funds are kept secure in a separate bank account, completely separated from the broker's capital.</p>
      </div>
      <div class="col-sm-4 align-items-center d-inline-flex">
        <img class="img-fluid m-3" src="analytics.png" style="width: 7rem">
        <p class="text-white">Attractive terms of trade: - Free account opening - Ability to connect robots and copy transactions
          - Opening PAMM accounts - Quick deposit and withdrawal of funds</p>
      </div>
      <div class="col-sm-4 align-items-center d-inline-flex">
        <img class="img-fluid m-3" src="briefcase.png" style="width: 7rem" alt="">
        <p class="text-white">Professional and stable trading platforms. Powerful risk management analysis tools.</p>
      </div>
  </div>
</div>
