<div class="container-fluid">
  <app-nav></app-nav>

  <div class="jumbotron-fluid">
    <div class="container animated fadeInLeftBig">
      <h1 class="text-center text-white mb-5">Cent Account</h1>
      <ul class="list-unstyled">
        <li>
          <h5 class="text-center text-white m-3">The main distinctive feature of cent (micro) accounts is that they use 100x denominated monetary units
            of the base currency (US Cent, EU Cent, etc.), while the trading conditions are equal to those for standard accounts.</h5>
          <h5 class="text-center text-white m-3"> Just deposit 10 USD to your cent account to get 1,000 US Cents. As a result, this account types
            will be excellent not only for beginner traders, but for professionals as well, because it may help them to test new trading strategies
            or Expert Advisers.</h5>
        </li>
      </ul>

      <div class="row">
        <div class="col-sm-12 align-items-center justify-content-center d-inline-flex">
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/standard">Standard account</button>
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/cent">Cent account</button>
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/PAMM">PAMM account</button>
        </div>
        <div class="col-sm-12 align-items-center justify-content-center d-inline-flex">
          <button type="button" class="btn btn-primary shadow-lg m-4 btn-lg">Open account</button>
          <button type="button" class="btn btn-primary shadow-lg m-4 btn-lg">Open demo</button>
        </div>
      </div>
    </div>

  </div>
</div>

