<div class="container-fluid">
  <app-nav></app-nav>
  <div class="jumbotron jumbotron-fluid" style="margin: auto">
    <div class="container animated fadeInLeftBig">
      <div class="row headers">
        <div class="col-sm-12">
          <h1 class="text-center text-white">PLAYSER</h1>
          <h1 class="text-center text-white">BEST FOREX BROKER</h1>
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-light m-4 shadow">Log in</button>
        <button type="button" class="btn btn-light m-4 shadow">Sign up</button>
      </div>
      </div>
  </div>
</div>

