<div class="container-fluid">
  <app-nav></app-nav>

  <div class="jumbotron-fluid">
    <div class="container animated fadeInLeftBig">
      <h1 class="text-center text-white mb-5">Type of accounts</h1>
      <ul class="list-unstyled">
        <li>
          <h5 class="text-center text-white m-3">Playser offers several types of trading accounts.</h5>
          <h5 class="text-center text-white m-3">Each account has its own characteristics, commissions and spreads.</h5>
          <h5 class="text-center text-white m-3">Our managers will tell you more about everything or you can find information on our website.</h5>
        </li>
      </ul>

      <div class="row">
        <div class="col-sm-12 align-items-center justify-content-center d-inline-flex">
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/standard">Standard account</button>
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/cent">Cent account</button>
          <button type="button" class="btn btn-light m-4 shadow" routerLink="/accounts/PAMM">PAMM account</button>
        </div>
        <div class="col-sm-12 align-items-center justify-content-center d-inline-flex">
          <button type="button" class="btn btn-primary shadow-lg m-4 btn-lg">Open account</button>
          <button type="button" class="btn btn-primary shadow-lg m-4 btn-lg">Open demo</button>
        </div>
      </div>
    </div>

  </div>
</div>

