<nav class="navbar navbar-expand-xl navbar-light animated fadeIn slow">
  <a class="navbar-brand" routerLink="/">
    <img src="../../logo.png" class="img-fluid" style="width: 5rem" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/accounts" routerLinkActive="active">Type of accounts</a>
      </li>
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/" data-toggle="popover" title="In progress. We`ll open these features soon.">Platforms</a>
      </li>
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/research_and_education" routerLinkActive="active">Research and education</a>
      </li>
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/" data-toggle="popover" title="In progress. We`ll open these features soon.">Economic calendar</a>
      </li>
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/about" routerLinkActive="active">About us</a>
      </li>
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/" data-toggle="popover" title="In progress. We`ll open these features soon.">Safety and responsibility</a>
      </li>
      <li class="nav-item border-bottom border-left rounded">
        <a class="nav-link text-white text-center" routerLink="/" data-toggle="popover" title="In progress. We`ll open these features soon.">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
